@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
/* GENERAL */
* {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 100%;
}

a:-webkit-any-link {
    color: #606468;
}
html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #2B3338;
    height: 100%;
    width: 100%;
    color: #BBC8CA;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 100%;
}
/*.main {*/
/*    color: #BBC8CA;*/
/*}*/
.wrap {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.public_gallery,
.main,
.card,
.wrap_webcam {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

.wrap_form,
.gallery {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.form {
    width: 70%;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
}

.form > * {
    margin: 50px 0;
}


/*VIDEO BG*/
#video-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -999;
    background-size: cover;
    opacity: 0.1;
}

#video-bg > video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
/*VIDEO BG END*/

/*SLIDER*/
.gallery img {
    max-width: 700px;
    margin: 15px;

}

.gallery {
    flex-direction: column;
}

/*.photo{*/
/*    animation: round 9s infinite;*/
/*    opacity:0;*/

/*}*/
/*@keyframes round{*/
/*    25%{*/
/*        opacity:1;*/
/*    }*/
/*    40%{*/
/*        opacity:0;*/
/*    }*/
/*}*/

.gallery img:nth-child(3) {
    transform: rotate(10deg);
    /*animation-delay: 6s;*/
}
.gallery img:nth-child(2) {
    /*animation-delay: 3s;*/
    transform: rotate(-10deg);
}
.gallery img:nth-child(1) {
    /*animation-delay: 0s;*/
    transform: rotate(10deg);
}

/*SLIDER END*/



/*FORM DB/LOGIN*/

.login_signup input {
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    margin: 0 auto;
    background-color: #3A4149;
    color: #eee;
    font-weight: bold;
}

.login_signup input[type="submit"] {
    background-color: #F06272;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    cursor:pointer;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0 100px #6a7684 inset;
}

.login_signup p span {
    background-color: #363b41;
    color: #606468;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

.login_signup p {
    display: flex;
    margin: 5px auto;
}

.header_text {
    color: #ffcee0;
    text-align: center;
    text-transform: uppercase;
}

.select {
    display: flex;
    width: 100%;
    height: 3em;
    line-height:  3em;
    margin: 0;
    list-style: none;
    padding: 0;
}

.select {
    display: flex;
    width: 100%;
    height: 3em;
    line-height:  3em;

}


.select li {
    width: 50%;
    height: inherit;
    font-weight: bold;
    text-align: center;
}

.select li {
    display: block;
    width: 100%;
    height: 100%;
    line-height:  inherit;
    text-decoration: none;
    color: #606468;
    text-transform: uppercase;
    font-size: 20px;
    background: #3A4149;
    transition: .5s ease;
}

.select .active{
    background-color: #F06272;
    color: #eee;
    outline: none;
}

/*.select li:hover,*/
/*.login_signup input[type="submit"]:hover {*/
/*    background-color: #f48a97;*/
/*    color: #eee;*/
/*}*/

#log_in {
    display: none;
}

#sign_up {
    display: block;
}

h1{
    text-align: center;
    /*color: #eee;*/
    font-weight: lighter;
}

h3 {
    text-align: center;
    color: #6a7684;
    font-weight: normal;
}

.invisible_btn {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

label {
    color: #6A7684;
    cursor: pointer;
}

label:hover{
    text-decoration: underline;
}

#forgot_input,
#gallary_btn
{
    display:none;
}




.logout img,
.camera img {
    max-width: 64px;
    max-height: 64px;
}

.select img {
    max-height: 48px;
    max-width: 48px;
}


/*!* The Modal (background) *!*/
/*.modal {*/
/*    display: none; !* Hidden by default *!*/
/*    position: fixed; !* Stay in place *!*/
/*    z-index: 1; !* Sit on top *!*/
/*    padding-top: 100px; !* Location of the box *!*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%; !* Full width *!*/
/*    height: 100%; !* Full height *!*/
/*    overflow: auto; !* Enable scroll if needed *!*/
/*    background-color: rgb(0,0,0); !* Fallback color *!*/
/*    background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
/*}*/

/*!* Modal Content *!*/
/*.modal-content {*/
/*    background-color: #fefefe;*/
/*    margin: auto;*/
/*    padding: 20px;*/
/*    border: 1px solid #888;*/
/*    width: 80%;*/
/*}*/

/*!* The Close Button *!*/
/*.close {*/
/*    color: #aaaaaa;*/
/*    float: right;*/
/*    font-size: 28px;*/
/*    font-weight: bold;*/
/*}*/

/*.close:hover,*/
/*.close:focus {*/
/*    color: #000;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*}*/

#loader {
    display: none;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 50px;
}

.data {
width: 70%;
}


.logo-image {

    /*border-radius: 50%;*/
    overflow: hidden;
    margin-top: -6px;
}

.frame {
    position: absolute;
}

/*HEADER*/
header {
    /*position: relative;*/
    width: 60%;
    display: block;
    margin: 0 auto;
}

.photo-acc {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("/camagru_mvc/photos/5e67c7089548a.png");
    background-position: center;
    background-size: cover;
    /*background-position: center;*/
    height: 400px;
}

.bg_photo {
    width: 100%;
}

.avatar {
    /*max-height: 128px;*/
}
.avatar_min {
    max-width: 88px;
}

.avatar_min_min{
    max-width: 44px;
    margin: 0px 0 0 -5px;
}

.avatar-block {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
}

.login_min,
.login {
    font-family: 'Pacifico';
    font-size: 24px;
    line-height: 0px;
    letter-spacing: 0.2em;
    margin: 15px 0 0;
}

.login {
    display: block;
    padding: 25px;
    font-size: 24px;
}

.crop{
    width: 150px;
    height: 150px;
    /*float:left;*/
    margin: -80px auto .5em;
    overflow:hidden; /* this is important */
    border-radius: 50%;
}

.crop_min{
    width: 64px;
    height: 64px;
    float:left;
    margin: .5px 10px .5em 0;
    overflow:hidden; /* this is important */
    border-radius: 50%;

}

.crop_min_min{
    width: 32px;
    height: 32px;
    float:left;
    margin: .5px 10px .5em 0;
    overflow:hidden; /* this is important */
    border-radius: 50%;

}
/* input values to crop the image: top, right, bottom, left */
.crop img{
    width: 200px;
    height: 172px;
    margin: -10px 0px 0px -18px;
    /*margin:-41px -156px -40px -30px;*/
}

.crop_min img{
    width: 172px;
    margin: 0px 0px 0px 0;
    /*margin:-41px -156px -40px -30px;*/
}

.img_head {
    display: flex;
}

.del {
    flex-grow: 1;
    text-align: right;
    padding: 3px;
}


.usr_login,
.crop_min_min {
    line-height: 2;
    font-family: 'Roboto Thin';
    letter-spacing: 3px;
    margin: 5px;
}

.img_card .photo {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.buttons input{
    display: none;
}
.top_buttons input{
    display: none;
}
.top_buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px;
}

.top_buttons form {
    position: relative;
}

.top_buttons .logout label  {
    position: absolute;
    right: 0;
}


.buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    line-height: 24px;
}



.buttons .glr,
.buttons .stg {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.takePhoto,
.btn_gallery,
.profile,
.logout {
    width: 50%;
}

/*USER GALLERY*/
#user_gallery {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 0;
}
.block {
    width: 30%;
    padding: 5px;
}
#user_gallery img {
    width: 100%;
}

.block {
    display: flex;
    flex-direction: column;

}

.change_ava,
.change_bg {
    background-color: #fde8ea;
    color: #000;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    padding: 5px;
    outline: none;
}

.btns {
    padding: 5px;
    text-align: center;
}

#user_settings {
    display: none;
    width: 60%;
    margin: 0 auto;
}

.buttons img {
    vertical-align: middle;
}


.field {
    box-sizing: border-box;
    padding: 0  0 0 16px;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    background-color: #3A4149;
    color: #BBC8CA;
    font-weight: bold;
    margin: 10px 0;
}

.data input[type="submit"] {
    background-color: #BBC8CA;
    color: #2B3338;
    font-weight: bold;
    text-transform: uppercase;
    cursor:pointer;
}

#user_settings h1 {
    /*color: white;*/
    text-align: center;
    font-weight: bolder;
    margin: 25px;
    text-transform: uppercase;
}

.data h2 {
    /*color: white;*/
    text-align: center;
}

.notification,
.default-avatar,
.default-bg {
    margin: 20px 0;
    color: #3F5561;

}

.bot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#defAvatar,
#defBg {
    background-color: #3F5561;
    color: #2B3338;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    padding: 10px;
    outline: none;
}

#defAvatar:active {
    background-color: #2C4452;
}

#sendToEmail {
    width: auto;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #3F5561;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #F06272;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

footer {
    text-align: center;
}


/*webcam*/

.top_container {
    display: flex;
    justify-content: center;
}

.wrap_webcam {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.wrap_webcam .video {
    position: relative;
}


.wrap_webcam video {
    margin: 0 auto;
    display: block;
    /*position: relative;*/
}

.wrap_webcam .photo {
    position: absolute;
}

.top_container {
    width: 60%;
}

#stiker_container,
#filter_container {
    width: 20%;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: row;*/
    text-align: center;
    margin: 10px;

}

#stiker_container img,
#filter_container img {
    width: 30%;
    padding: 5px;

    /*align-self: flex-start;*/
    /*justify-content: space-between;*/
    /*m;*/
}

.selected_stick{
    background: aliceblue;
}
.webcam_btns {
    width: 100%;
    margin: -10px auto 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.inactive_click {
    filter: grayscale(100%);
    cursor: default;
}

.active_click {
    filter: none;
    cursor: pointer;
}

.active_click:hover {
    transform: rotate(10deg);
}

.webcam_btns input {
    display: none;
}

.webcam_btns  {
    margin: 16px 0px;
}

#edited_photos {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;

}

#edited_photos .img_card {
    width: 30%;
    margin: 10px;
}

#edited_photos .img_card  img {
    width: 100%;
}

#edited_photos .img_card  {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#edited_photos .img_card  img {
    flex-basis: 100%;
}
#edited_photos .img_card  input {
    margin: 3px 10px;
}

.delete {
    background-image: url("../image/del.svg");
    width: 32px;
    height: 32px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.edit {
    background-image: url("../image/edit.svg");
    width: 32px;
    height: 32px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.comment {
    background-image: url("../image/comment.svg");
    width: 32px;
    height: 32px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.delete:hover,
.edit:hover,
.comment:hover {
    transform: rotate(10deg);
}

.photo_acc_min {
    /*height: 100px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background: #F06272;
    margin: 0 0 20px;
    border-radius: 0 0 5px 5px;
}

/*.avatar_min,*/
.login_min {
    max-width: 32px;
    max-height: 32px;
    align-self: center;
    padding: 10px;
    margin: 10px;
}



#to_profile, #sign_out_photo,
#public_gallery {
    display: none;
}

.to_sign_up {
    display: flex;

}

.to_sign_up img {
    margin: 0 20px;
}

.to_profile img,
.to_sign_up img {
    width: 64px;
    height: 64px;
}

.video video,
.video canvas {
    border-radius: 1%;
}

/*чб*/
.grayscale {
    filter: grayscale(1);
}

/*яркость*/
.brightness {
    filter: grayscale(50%);
}

/*ретро*/
.sepia {
    filter: sepia(1);
}
/*размытие по Гауссу*/
.blur {
    filter: blur(3px);
}

/**/
.contrast {
    filter: contrast(100%);
}

.drop-shadow {
    filter: drop-shadow(2px 3px 5px black);
}
/**/
.hue-rotate {
    filter: hue-rotate(180deg);
}

.invert {
    filter: invert(100%);
}

.opacity {
    filter: opacity(30%);
}

.saturate {
    filter: saturate(300%);
}
/**/
.sex {
    display: flex;
    justify-content: center;
    position: relative;

}

.sex label {
    margin: 10px 30px;

}
.sex .male::before  {
    content: url("../image/male.svg");
    width: 32px;
    height: 32px;
 }

.sex .female::before {
    content: url("../image/female.svg");
    width: 32px;
    height: 32px;
}

input[type="radio"]:checked+label{
    /*transform: rotate(90deg) */
    /*border-radius: 50%;*/
    /*border: 3px solid #F06272;*/
    transform: scale(1.4);

}

/*:checked + .sex .male::before,*/
/*:checked + .sex .female::before{*/
/*    border: 3px solid red;*/
/*}*/
.sex input {
    display: none;
}


/*MAIN GALLERY*/
.public_gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}

.img_block {
    width: 100%;
}

.public_gallery .img_card {
    display: flex;
    flex-direction: column;
    background: aliceblue;
    width: 75%;
    margin: 5px auto;
    border-radius: 0.5%;
    align-self: flex-start;
}

.mid {
   display: flex;
    padding: 0 45px 0 0;
}

.card {
    margin: 0 auto;
    width: 55%;
    display: flex;
    flex-direction: column;
    background: aliceblue;
    border-radius: 0.5%;
    align-self: flex-start;
}
.card .photo {
    width: 90%;
    /*margin: 0 auto;*/
    /*padding: 0 30px;*/
}

.card .img_head {
    padding: 10px;
}
.likes{
    /*margin: 0 3px;*/
}

/*.left {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    !*padding: 10px;*!*/
/*    width: 60%;*/
/*}*/

/*.right {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*    width: 40%;*/
/*}*/



.comment-box {
    display: flex;
    flex-direction: row;
    flex: 0 1 40px;
    width: 100%;
    background: rgba(240, 98, 114, 0.3);
    padding: 10px;
    position: relative;
    align-items: baseline;
    box-sizing: border-box;
}
.comment-box input {
    display: none;
}

.comment-box label {
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    /*color: #fff;*/
    border: none;
    background: #F06272;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 5;
    padding: 10px;
    text-align: center;
    outline: none !important;
    transition: background 0.2s ease;
    text-decoration: none;
    height: 60px;
    width: 72px;
}
.comment-box label:active {
    background: #ee4458;
}

.comment-box .comment-input {
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    /*color: rgba(255, 255, 255, 1);*/
    font-size: 18px;
    margin: 0;
    /*padding-right: 20px;*/
    width: 80%;
    height: 60px;
}

.comment-box textarea:focus:-webkit-placeholder {
    color: transparent;
}



.comment-box .send:hover {
    background: #1d7745;
}
.right_block {
    width: 10%;
}

.likes-block,
.comments-block {
    display: flex;
    align-items: center;

}

.number_comments,
.number_likes {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: #6a7684;
}

.like {
    filter: grayscale(100%);
    background-image: url(../image/like64.png);
    width: 64px;
    height: 64px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 0 5px;
}

.img_comment {
    background-image: url(../image/comment64.png);
    width: 64px;
    height: 64px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 0 5px;
}

.dlt {
    background-image: url(../image/delete64.svg);
    width: 64px;
    height: 64px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 0 5px;
}

.like:active {
    transform: rotate(10deg);
}

.img_comment:active {
    transform: rotate(10deg);
}

.liked {
    filter: none;
}

.wrap_photo {
    display: flex;
    flex-direction: column;
}

.comments {
    background: #2B3338;
}


.comment_block {
    padding: 15px;
    background: lightslategray;
    margin: 2px 0 ;
}

.comment_block div{
    padding: 3px;
}

.to_sign_up input {
    display: none;
}

.deleted-photo{
    display: block;
    text-align: center;
    font-size: 24px;
    padding: 15px;
    font-weight: bold;
}

.btns input {
    margin: 3px 0;
}

.top {
    display: none;
    background-color: rgba(150, 150, 150, 0.5);
    border: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    outline: none;
    z-index: 0;
}

.top:active{
    background-color: rgba(150, 150, 150, 0.1);
}

footer {
    width: 60%;
    margin: 20px auto 0;
    height: 80px;
    background: #F06272;
    border-radius: 5px 5px 0 0;
    color:#2B3338;
    font-weight: bold;
    font-size: 18px;
    line-height: 80px;
}
/*@media screen and (max-width: 768px) {*/
/*    .webcam_btns {*/
/*        width: 99%;*/
/*    }*/
/*}*/


@media screen and (max-width: 1440px) {
    header,
    footer,
    .top_container {
        width: 75%;
    }

    #edited_photos {
        width: 65%;
    }
}

@media screen and (max-width: 1024px) {
    header,
    footer,
    .top_container {
        width: 95%;
    }

    #edited_photos {
        width: 85%;
    }

    #user_gallery,
    #user_settings {
        width: 95%;
    }

    .data {
        width: 85%;
    }

    .public_gallery {
        width: 90%;
    }

}

@media screen and (max-width: 768px) {
    header,
    footer,
    .top_container {
        width: 100%;
    }

    .top_container {
        flex-direction: column-reverse;
    }

    .video_wrapper {
        order: 1;
    }

    #stiker_container,
    #filter_container {
        width: 100%;
    }

    #stiker_container img,
    #filter_container img {
        width: 5%;
    }

    #edited_photos {
        width: 90%;
    }

    .card {
        width: 97%;
    }

    .to_sign_up img {
        margin: 0;
    }

    .public_gallery .img_card {
        width: 85%;
    }
}

@media screen and (max-width: 425px) {

    #stiker_container,
    #filter_container {
        width: 94%;
    }

    #stiker_container img,
    #filter_container img {
        width: 11%;
    }

    #edited_photos {
        width: 100%;
       justify-content: space-around;
    }

    #edited_photos .img_card {
        width: 25%;
    }

    #edited_photos .img_card input {
        margin: 0;
    }

    .photo-acc {
        height: 300px;
    }

    .public_gallery {
        width: 98%;
    }

    .public_gallery .img_card {
        width: 93%;
    }

    .mid {
        padding-right: 65px;
    }
}


@media screen and (max-width: 375px) {

    .photo_acc_min {
        padding: 20px 0;
    }

    .to_sign_up img {
         margin: 0;
    }

    .bot {
        flex-direction: column;
        align-items: center;
    }
    .notification, .default-avatar, .default-bg {
        margin: 3px 0;
    }

    .public_gallery .img_card {
        width: 90%;
    }

    .to_profile img, .to_sign_up img {
        width: 55px;
        height: 55px;
    }

    .login_min {
        margin-left: -10px;
    }
}