@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
/* GENERAL */
body, form, p, input {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 100%;
    height: 100%;
}

a:-webkit-any-link {
    /*text-decoration: none;*/
    color: #606468;
}

/*body {*/
/*    background-color: #2B3338 !important;*/
/*}*/


/*FORM DB/LOGIN*/

.login_signup input {
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    margin: 0 auto;
    background-color: #3A4149;
    color: #eee;
    font-weight: bold;
}

.login_signup input[type="submit"] {
    background-color: #EA4C86;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    cursor:pointer;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0 100px #6a7684 inset;
}

.login_signup p span {
    background-color: #363b41;
    color: #606468;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

.login_signup p {
    display: flex;
    margin: 5px auto;
}

.header_text {
    color: #ffcee0;
    text-align: center;
    text-transform: uppercase;
}

.form {
    max-width: 400px;
    margin: 15% auto;
}

.select {
    display: flex;
    width: 100%;
    height: 3em;
    line-height:  3em;
    margin: 20% 0 auto;
    list-style: none;
    padding: 0;
    /*margin: 20% 0 auto;*/
}

.select {
    display: flex;
    width: 100%;
    height: 3em;
    line-height:  3em;

}


.select li {
    width: 50%;
    height: inherit;
    font-weight: bold;
    text-align: center;
}

.select li {
    display: block;
    width: 100%;
    height: 100%;
    line-height:  inherit;
    text-decoration: none;
    color: #606468;
    text-transform: uppercase;
    font-size: 20px;
    background: #3A4149;
    transition: .5s ease;
}

.select .active{
    background-color: #EA4C86;
    color: #eee;
    outline: none;
}

.select li:hover,
.login_signup input[type="submit"]:hover {
    background-color: #b73a68;
    color: #eee;
}

#log_in {
    display: none;
}

#sign_up {
    display: block;
}

h1{
    text-align: center;
    color: #eee;
    font-weight: lighter;
}

h3 {
    text-align: center;
    color: #6a7684;
    font-weight: normal;
}

.forgot_form {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

label {
    color: #6A7684;
    cursor: pointer;
}

label:hover{
    text-decoration: underline;
}

#forgot_input{
    display:none;
}

/*index*/
.wrapper {
    /*background: #fff;*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    display: flex;
    background: #3A4149;
    justify-content: space-between;
    align-items: center;
    height: 5vw;
    width: 70%;
    margin: 0 auto;
}

.content {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    background: rgba(188, 192, 197, 0.5);
    flex: 1;
}

footer {
    background: #3A4149;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}


.logoutBtn,
.photoBtn {
    width: 5vw;
    height: 2vw;
    outline: none;
    border: none;
    background: inherit;
    background-position: center;
}

.logoutBtn {
    /*background-color: #E88DAE;*/
    background-image: url("../image/log-out.ico");
    background-size: contain;
    background-repeat: no-repeat;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    /*margin-right: 10px;*/
    flex: 2 2 20em;
    /*flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]*/
}

.logo {
    font-family: 'Dancing Script', cursive;
    color: #EA4C86;
    font-size: 6vw;
    text-align: center;
    /*margin-left: 30px;*/
    flex-basis: 30%;
    flex: 1 1 20em;
}


.photoBtn {
    background-image: url("../image/camera.ico");
    background-repeat: no-repeat;
    background-size: contain;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    /*margin-left: 10px;*/
    flex: 2 2 20em;
    transition: 0.3s linear;
}

.photoBtn:hover{
    /*background-color: #eeeeee;*/
    transform: scale(1.3);
    /*height: 5vw;*/
    /*width: 5vw;*/
    /*animation-name: example;*/
    /*animation-duration: 0.1s;*/
    /*animation-delay: 2s;*/
}



.avatar {
    width: 50px;
    height: 50px;
    background: url("../image/cat.jpg") repeat scroll 0 0 transparent;
}

/*img {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*}*/

/*profile
*/

/*#edit {*/
/*    display: block;*/
/*}*/

/*#save {*/
/*    display: none;*/
/*}*/

/*#editName {*/
/*    display: none;*/
/*}*/

/*#currentName {*/
/*    display: block;*/
/*}*/


/*.hide {*/
/*    display: none;*/
/*}*/

/*.active {*/
/*    display: block;*/
/*}*/



/*@keyframes example {*/
/*    0%   {transform: rotate(0grad)}*/
/*    !*25%  {transform: rotate(45grad)}*!*/
/*    50%  {transform: rotate(90grad)}*/
/*    !*75%  {transform: rotate(135grad)}*!*/
/*    100% {transform: rotate(180grad)}*/
/*}*/





/*!* The Modal (background) *!*/
/*.modal {*/
/*    display: none; !* Hidden by default *!*/
/*    position: fixed; !* Stay in place *!*/
/*    z-index: 1; !* Sit on top *!*/
/*    padding-top: 100px; !* Location of the box *!*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%; !* Full width *!*/
/*    height: 100%; !* Full height *!*/
/*    overflow: auto; !* Enable scroll if needed *!*/
/*    background-color: rgb(0,0,0); !* Fallback color *!*/
/*    background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
/*}*/

/*!* Modal Content *!*/
/*.modal-content {*/
/*    background-color: #fefefe;*/
/*    margin: auto;*/
/*    padding: 20px;*/
/*    border: 1px solid #888;*/
/*    width: 80%;*/
/*}*/

/*!* The Close Button *!*/
/*.close {*/
/*    color: #aaaaaa;*/
/*    float: right;*/
/*    font-size: 28px;*/
/*    font-weight: bold;*/
/*}*/

/*.close:hover,*/
/*.close:focus {*/
/*    color: #000;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*}*/

#loader {
    display: none;
}

#form{
    display: flex;
    background: #6a7684;
    justify-content: space-around;
    width: 70%;
    height: 300px;
    margin: 0 auto;
}

.data_first,
.data_second {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.logo-image {

    /*border-radius: 50%;*/
    overflow: hidden;
    margin-top: -6px;
}

/*.video {*/
/*    position: relative;*/
/*    border-image-width: 40px;*/
/*    border-image-source: url('../image/frame.png');*/
/*    border-image-slice: 40;*/
/*    border-image-repeat: round;*/
/*}*/


.frame {
    position: absolute;
}

/*.video-block {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
/*.btns {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-end;*/
/*}*/
/*.btn {*/
    /*background-color: #EA4C86;*/
    /*color: #eee;*/
    /*font-weight: bold;*/
    /*text-transform: uppercase;*/
    /*cursor:pointer;*/
/*}*/
/*img.img {*/
/*}*/